

<div class="card">
  <form (ngSubmit)="onSubmit()" #f=ngForm >
    <div class="card" style="height: 35rem">
      <span class="p-float-label " style="float: left">
        <input type="text" pInputText [(ngModel)]="campaign.name" name="name" style="width: 50rem">
        <label >{{'campaign.name' | translate}}</label>
      </span>
      <br><br><br>
      <div class="form-group">
        <div class="field">
          <label for="input" class="block">{{'campaignStatus' | translate}}</label>
          <p-checkbox  [binary]="true" [(ngModel)]="campaign.isRunning" pInputText name="isRunning" inputId="binary"></p-checkbox>
          <input type="text" id="input" style="width: 20rem" value="{{campaign.isRunning ? 'Active' : 'Inactive' | translate}}"
                 pInputText name="isRunning">
        </div>
      </div>

      <div class="flex inline-flex justify-content-center">
        <div class="form-group">
          <div class="field">
            <label for="price" class="block">{{'campaign.cost' | translate}}</label>
            <p-inputNumber  [showButtons]="true" id="price"  buttonLayout="horizontal" inputId="horizontal"
                            spinnerMode="horizontal" [step]="100"
                            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency"
                            currency="EUR" [(ngModel)]="campaign.cost" name="cost">
            </p-inputNumber>
          </div>
        </div>

        <div class="form-group" style="margin-left: 10rem">
          <div class="field">
            <label for="type" class="block">{{'campaign.campaignType.id' | translate}}</label>
            <p-dropdown id="type" [options]="campaignTypes"
                        placeholder="{{'global.selectOption' | translate}}" [showClear]="true"
                        [filter]="true" [(ngModel)]="campaign.campaignTypeId" name="campaignTypeId"></p-dropdown>

          </div>
        </div>
      </div>

      <div class="form-group">
        <span class="p-float-label">
          <textarea id="comment" rows="5" cols="50" [(ngModel)]="campaign.comments" name="comments"
                    style="float: left"  pInputTextarea autoResize="autoResize"></textarea>
          <label for="comment">{{'campaignTypeComments' | translate}}</label>
        </span>
      </div>

      <div class="form-group" style="margin-left: 50rem">
        <div class="field">
          <label for="start" class="block">{{'startDate' | translate}}</label>
          <app-toitsu-calendar id="start"  [(model)]="campaign.startDate" name="startDate"></app-toitsu-calendar>
          <hr>

          <div class="form-group">
            <div class="field">
              <label for="end"  class="block">{{'endDate' | translate}}</label>
              <app-toitsu-calendar id="end"  [(model)]="campaign.endDate" name="endDate"></app-toitsu-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer class="flex justify-content-center">
      <button pRipple type="submit" class="p-button-primary"
              *ngIf="viewType==='add'; else edit" label="{{'Save' | translate}}"
              (click)="saveCampaign()" pButton icon="fa fa-plus"
              iconPos="left" style="margin:1rem"
              [disabled]="!f.valid"></button>

      <button pButton pRipple type="button" *ngIf="viewType==='add'" label="{{'Cancel' | translate}}" (click)="clearForm()" class="p-button-warning"
              style="margin:1rem"></button>
      <button  pButton type="button" icon="fa fa-home" iconPos="left" label="{{'global.list' | translate}}" (click)="homePage()"
               class="p-button-success" style="margin: 1rem"></button>
      <ng-template #edit>
        <button type="button" label="{{'global.edit' | translate}}" [disabled]="f.invalid" (click)="saveCampaign()"
                pButton icon="fa fa-plus" iconPos="left" style="margin: 1rem"></button>
        <button pButton pRipple type="button" label="{{'global.delete' | translate}}" class="p-button-danger"
                (click)="deleteCampaign()" style="margin:1rem"></button>

      </ng-template>
    </footer>
  </form>
</div>
