.custom  .container {
  //position: relative;
  display: flex;
  justify-content: center;
}
input.ng-invalid.ng-touched  {
  border: 1px solid red;
}

.pInputTextarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
