.custom {
  position: relative;
  display: flex;
  justify-content: flex-start;
}


//
//.calendar {
//  position: absolute;
//  top: 8px;
//  right: 16px;
//  font-size: 18px;
//  display: flex;
//  justify-content: flex-end;
//  box-sizing: border-box;
//  margin: 1rem .25rem;
//}
//.field {
//  //flex: 1 0 500px;
//  position: absolute;
//  top: 8px;
//  right: 16px;
//  font-size: 18px;
//  display: flex;
//  justify-content: flex-end;
//  box-sizing: border-box;
//  margin: 1rem .25rem;
//}

//.centered {
//  display: flex;
//  justify-content: center;
//}
