

<p-header>
  <div class="container">
    <div style="text-align: left ">
      <div class="fc-button-group" >
        <button  pButton type="button" label="{{'Home' | translate}}" (click)="homePage()"
                 class="p-button-success" style="margin: 5px"></button>
        <button pButton type="button" label="{{'All Campaigns' | translate}}" (click)="showAll()"
                class="p-button-plain" style="margin: 5px"></button>
      </div>
    </div>
  </div>
</p-header>
<div class="custom">
  <p-card header="{{'New Campaign' | translate}}">
    <div class="field">
      <span class="p-float-label" style="margin: 20px">
        <input type="text" pInputText [(ngModel)]="campaignId" id="campaignId" style="width: 15rem">
        <label for="campaignId">{{'campaign.ID' | translate}}</label>
      </span>
      <span class="p-float-label" style="margin: 20px">
        <input type="text" pInputText [(ngModel)]="campaignName" id="campaignName" style="width: 15rem">
        <label for="campaignName">{{'campaign.name' | translate}}</label>
      </span>
      <span class="p-float-label" style="margin: 20px">
        <input type="text" pInputText [(ngModel)]="campaignType" id="campaignType" style="width: 15rem">
        <label for="campaignType">{{'campaignTypeKind' | translate}}</label>
      </span>
      <span class="p-float-label" style="margin: 20px">
        <input type="text" pInputText [(ngModel)]="campaignCost" id="campaignCost" style="width: 15rem">
        <label for="campaignCost">{{'campaign.cost' | translate}}</label>
      </span>
      <span class="p-float-label" style="margin: 20px">
        <textarea id="campaignDesc" rows="5" cols="30" [(ngModel)]="campaignDesc"
                style="width: 30rem"  pInputTextarea autoResize="autoResize"></textarea>
        <label for="campaignDesc">{{'campaignTypeDescription' | translate}}</label>
      </span>
      <div class="field col-12 md:col-4" style="float: left">
        <label for="startDate">{{'startDate' | translate}}</label>
        <p-calendar [showIcon]="true" id="startDate" inputId="startDate" [(ngModel)]="campaignStartDate"></p-calendar>
      </div>

      <div class="field col-12 md:col-4" style="float: left">
        <label for="endDate">{{'endDate' | translate}}</label>
        <p-calendar [showIcon]="true" id="endDate" inputId="endDate" [(ngModel)]="campaignEndDate"></p-calendar>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button pButton pRipple type="button" label="{{'Save' | translate}}" class="p-button-success" (click)="onAddCampaign()" style="margin: 5px"></button>
      <button pButton pRipple type="button" label="{{'Cancel' | translate}}" class="p-button-danger" style="margin: 5px"></button>
    </ng-template>
  </p-card>
</div>




